*
{
  margin: 0;
  padding: 0;  
  box-sizing: border-box;

}
a{
  text-decoration: none;
  color: #000;

}

.vidlogo
{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .video video
{
  width: 100%;
}

.vidlogo h1 
{
  position: absolute;
  font-size: 5rem;
  color: #fff;


}

.vidlogo h1 a
{

  color: #fff;


}

.nav-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.nav-primary .wrap,
.nav-primary .wrap ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}

.nav-primary .wrap ul {
  gap: 20px;
  list-style-type: none;
  margin-top: 0;
}

.nav-primary .wrap ul a {
  padding: 10px;
  font-weight: bold;
  text-decoration: none; /* Removes underline */
}

/* Hover effect for links */
.nav-primary .wrap ul a:hover {
  background-color: #555; /* Slightly darker background on hover */
  border-radius: 5px; /* Slight rounding of the corners */
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .vidlogo h1 
{
  position: absolute;
  font-size: 2rem;
  color: #fff;


}

  .nav-primary .wrap {
    margin-top: 0;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px; 
  }
  .nav-primary .wrap ul {
    flex-direction: column;
    gap: 10px; 
  }

  .nav-primary .wrap ul a {
    padding: 12px;
    font-size: 16px;
  }


  .responsive-menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }
  .Expériences
  {
    margin-top:20px ;
  }
}


.Expériences
{
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  background-color: rgb(226, 228, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.text_Expériences
{
  width: 70%;
  padding: 20px 0;
  
}
.text_Expériences div
{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.text_Expériences div
{
  font-size: 1.3rem;
}

.Create
{
  padding: 20px;
  text-align: center;
}
.Create_crad
{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;


}

.card
{
  width: 300px;
  height: 150px;
  background-color: rgba(245, 227, 190, 0.616);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_card
{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.card p
{
  font-size: 2rem;
}

     /* Section principale */
     .dining-experience {
      text-align: center;
      padding: 2rem 1rem;
      background-image: url('../img/pexels-cottonbro-4253312.jpg'); /* Fond semi-transparent */
      background-repeat: no-repeat;
      background-position: center; /* Fond semi-transparent */
  }

  .dining-experience h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      color: #f5f5f5;
  }

  /* Timeline principale */
  .timeline {
      position: relative;
      max-width: 800px;
      margin: 0 auto;
  }

  .timeline::before {
      content: '';
      position: absolute;
      width: 4px;
      background-color: #8d8d8d;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
  }

  .timeline-item {
      display: flex;
      margin-bottom: 2rem;
      position: relative;
      justify-content: space-between;
  }

  .timeline-item .icon {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      background-color: #8d8d8d;
      color: #fff;
      text-align: center;
      line-height: 30px;
      border-radius: 50%;
      z-index: 1;
  }

  .timeline-item .content {
      background: rgba(255, 255, 255, 0.9);
      color: #333;
      padding: 1rem;
      border-radius: 8px;
      width: 45%;
  }

  .timeline-item:nth-child(even) .content {
      margin-left: 55%;
  }

  .timeline-item:nth-child(odd) .content {
      margin-right: 55%;
  }

  .dining-experience a
  {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 17px;
    height: 40px;

  }



  .footer-distributed{
    background-color: #000000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
   
    padding: 55px 50px;
    margin-top: 80px;
  }
   
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
   
  .footer-distributed .footer-left{
    width: 40%;
  }
   
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
  }
   
  .footer-distributed h3 span{
    color:  #5383d3;
  }
   
   
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
   
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }
   
  .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
   
   
  .footer-distributed .footer-center{
    width: 35%;
  }
   
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
   
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
   
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
   
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
   
  .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
  }
   
  .footer-distributed .footer-right{
    width: 20%;
  }
   
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
   
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
   
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
   
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
   
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
   
    margin-right: 3px;
    margin-bottom: 5px;
  }
   
   
  @media (max-width: 880px) {
   
    .footer-distributed{
      font: bold 14px sans-serif;
    
    }
   
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
   
    .footer-distributed .footer-center i{
      margin-left: 0;
    }
  }

  /* Responsive */
  @media screen and (max-width: 768px) {
    header
    {
      height: 250px;
    }

      .timeline-item .content {
          width: 90%;
          margin: 0 auto;
      }

      .timeline::before {
          left: 20px;
      }

      .timeline-item .icon {
          left: 20px;
      }

      .timeline-item:nth-child(odd) .content,
      .timeline-item:nth-child(even) .content {
          margin: 0 auto;
      }
  }